<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div id="btn" onclick="openNav()"></div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/">KNOW MORE</a></li>
            <li><a href="/">COVID-19 CASES</a></li>
            <li><a href="/form">FILL THE FORM</a></li>
            <li><a href="/">SIGN UP</a></li>
        </ul>
    </nav>
    <section class="main">
        <h1>STAY HOME <br> STAY SAFE</h1>
        <img src="../static/images/img.png" alt="who cases" id="image">
        <button onclick="change()">Click to see more</button>
    </section>
    <aside class="sidebar">
        <ul>
            <li><span>COVID-19 PANDEMIC</span></li>
            <li><a href="/">INDIA</a></li>
            <li><a href="/">USA</a></li>
            <li><a href="#">CHINA</a></li>
            <li><a href="#">RUSSIA</a></li>
            <li><a href="#">ITALY</a></li>
        </ul>
    </aside>
    <script src="../static/my.js"></script>
</body>
</html>